{% extends 'auto_test/base.html' %}
{% block title %}主页{% endblock %}

{% block content %}
<!--    {% if request.session.is_login %}-->
<!--    <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>-->
<!--    {% endif %}-->
<!--    <br>-->


    <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="5%">执行序号</th>
                  <th width="5%">集合名称</th>
                  <th width="5%">用例名称</th>
                  <th width="5%">状态</th>
                  <th width="20%">请求数据</th>
                  <th width="20%">执行返回结果</th>
                  <th width="10%">断言内容</th>
                  <th width="5%">执行结果</th>
                  <th width="5%">异常信息</th>
                  <th width="10%">请求后提取变量</th>
                  <th width="8%">开始时间</th>
                  <th width="10%">执行耗时(ms)</th>
<!--                  <th>执行结果</th>-->
<!--                  <th>异常信息</th>-->
<!--                  <th>截图信息</th>-->
<!--                  <th>执行开始时间</th>-->
<!--                  <th>执行结束时间</th>-->
                </tr>
                </thead>
                <tbody>
          
 	{% for test_case_record in test_cases_records %}
        	<tr>
		<td>{{ test_case_record.id }}</td>
		<td>{{ test_case_record.test_suit_record.test_suit.suite_desc }}</td>
                <td><a href="{% url 'testCaseDetail' test_case_record.test_case.id%}">{{ test_case_record.test_case.case_name }}</a></td>
                {% if test_case_record.status %}
                    <td>执行完毕</td>
                {% else %}
                <td>待执行</td>
                {% endif %}
                <td>{{ test_case_record.request_data }}</td>
                <td>{{ test_case_record.response_data }}</td>
                <td>{{ test_case_record.test_case.assert_key }}</td>
                <td>{{ test_case_record.execute_result|default_if_none:"" }}</td>
                <td>{{ test_case_record.exception_info|default_if_none:"" }}</td>
                <td>{{ test_case_record.test_case.extract_var }}</td>
                <td>{{ test_case_record.execute_start_time }}</td>
                <td>{{ test_case_record.execute_total_time }}</td>
<!--		<td>{{ test_case_record.execute_result|default_if_none:"" }}</td>-->
<!--                {% if test_case_record.exception_info %}-->
<!--                <td><a href="" target="_blank">显示异常信息</a></td>-->
<!--                {% else %}-->
<!--                <td>无</td>-->
<!--                {% endif %}-->
<!--                {% if test_case_record.capture_screen %}-->
<!--                <td><a href="" target="_blank">显示异常截图</a></td>-->
<!--                {% else %}-->
<!--                <td>无</td>-->
<!--                {% endif %}-->
<!--                <td>{{ test_case_record.execute_start_time }}</td>-->
<!--		<td>{{ test_case_record.execute_end_time}}</td>-->

                </tr>
	{% endfor %}
                  
             
             </tbody>
            </table>
    </div>

    {# 实现分页标签的代码 #}
    {# 这里使用 bootstrap 渲染页面 #}
    <div id="pages" class="text-center" >
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if test_cases_records.has_previous %}
                    <a class='active' href="?page={{ test_cases_records.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    第 {{ test_cases_records.number }} 页/共 {{ test_cases_records.paginator.num_pages }} 页</span>

                {% if test_cases_records.has_next %}
                    <a class='active' href="?page={{ test_cases_records.next_page_number }}">下一页</a>
                {% endif %}
                </li></ul></nav></div>
{% endblock %}
