{% extends 'auto_test/base.html' %}
{% block title %}主页{% endblock %}

{% block content %}
    {% if request.session.is_login %}
    <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>
    {% endif %}
    <br>


    <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>名称</th>
                  <th>请求数据</th>
                  <th>执行返回结果</th>
                  <th>断言内容</th>
                  <th>执行结果</th>
                  <th>请求后提取变量</th>
                  <th>开始时间</th>
                  <th>执行耗时(ms)</th>
                </tr>
                </thead>
                <tbody>
          
 	{% for testrecord in testrecords %}
        	<tr>
		<td>{{ testrecord.id }}</td>
		<td><a href="" target="_blank">{{ testrecord.belong_test_case.case_name }}</a></td>
        <td>{{ testrecord.belong_test_case.request_data }}</td>
        <td>{{ testrecord.response_data }}</td>
        <td>{{ testrecord.belong_test_case.assert_key }}</td>
		<td>{{ testrecord.execute_result|default_if_none:"" }}</td>
		<td>{{ testrecord.belong_test_case.extract_var }}</td>
		<td>{{ testrecord.execute_start_time }}</td>
		<td>{{ testrecord.execute_total_time }}</td>
                </tr>
	{% endfor %}
                  
             
             </tbody>
            </table>
    </div>

    {# 实现分页标签的代码 #}
    {# 这里使用 bootstrap 渲染页面 #}
    <div id="pages" class="text-center" >
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if testrecords.has_previous %}
                    <a class='active' href="?page={{ testrecords.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    第 {{ testrecords.number }} 页/共 {{ testrecords.paginator.num_pages }} 页</span>

                {% if testrecords.has_next %}
                    <a class='active' href="?page={{ testrecords.next_page_number }}">下一页</a>
                {% endif %}
                </li></ul></nav></div>
{% endblock %}
