{% extends 'auto_test/base.html' %}
{% block title %}用例详情{% endblock %}

{% block content %}
<!--    {% if request.session.is_login %}-->
<!--    <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>-->
<!--    {% endif %}-->
<!--    <br>-->
    <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>接口名称</th>
                  <th>所属项目</th>
                  <th>所属模块</th>
                  <th>接口地址</th>
                  <th>请求数据</th>
                  <th>断言内容</th>
                  <th>编写人员</th>
                  <th>提取变量表达式</th>
<!--                  <th>是否执行</th>-->
                </tr>
                </thead>
                <tbody>
        	<tr>
                <td>{{ testcase.id }}</td>
                <td>{{ testcase.case_name }}</td>
                <td>{{ testcase.belong_project }}</td>
                <td>{{ testcase.belong_module }}</td>
                <td>{{ testcase.uri }}</td>
                <td>{{ testcase.request_data }}</td>
                <td>{{ testcase.assert_key }}</td>
                <td>{{ testcase.maintainer }}</td>
                <td>{{ testcase.extract_var }}</td>
                <td>{{ testcase.if_execute }}</td>
            </tr>
         </tbody>
        </table>
    </div>
{% endblock %}
